body {
 background-image: url("https://cdn.glitch.global/b4349f47-07e5-4477-8497-f439b583143b/background.png?v=1731935239296"); 
 font-family: courier, serif;
 text-align: center;
 color: #eb6123;
  background-size: cover;
}

.button {
  background-color: black;
  font-family: courier, serif;
  border: 2px solid black;
  color: #eb6123;
}

.button1 {
  padding: 14px 40px;
  background-color: #512888;
  font-family: courier, serif;
  font-size: 14px;
  border: 2px solid black;
  color: #eb6123;
}

.p {
  color: white;
  font-family: courier, serif;
}

/* style for the navigation bar */
nav{
  position: fixed;
  top: 0;
  width:  100%;
  overflow: hidden;
  background-color: #002366;
}

/* customizes text on the header bar */
nav a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #002366;
  text-decoration: none;
}

/* customizes hover color for the top bar */
nav a:hover, nav a:active{
  background-color: black;
  color: #eb6123;
}

#table1 {
  background-color: black;
}
