body {
 background-image: url("https://cdn.glitch.global/b4349f47-07e5-4477-8497-f439b583143b/background.png?v=1731935239296"); 
 font-family: courier, serif;
 text-align: center;
 color: #eb6123;
  background-size: cover;
}

.button {
  background-color: black;
  font-family: courier, serif;
  border: 2px solid black;
  color: #eb6123;
}

.button1 {
  padding: 14px 40px;
  background-color: #512888;
  font-family: courier, serif;
  font-size: 14px;
  border: 2px solid black;
  color: #eb6123;
}

/*adds a click animation to the button*/
.button1:active {
  background-color: black;
  transform: translateY(4px);
}

.p {
  color: white;
  font-family: courier, serif;
}



/* style for the navigation bar */
nav{
  position: fixed;
  top: 0;
  width:  100%;
  overflow: hidden;
  background-color: #002366;
}


/* customizes text on the header bar */
nav a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #002366;
  text-decoration: none;
}

/* customizes hover color for the top bar */
nav a:hover, nav a:active{
  background-color: black;
  color: #eb6123;
}

/*style for footer bar*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #002366;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/*style for the outfit sample*/
#halloween, #nature, #decora {
  color: white;
  font-weight: bold;
  font-size: 20px;
  float: center;
}

/*style for descriptions*/
#halloweenTable, #natureTable, #decoraTable {
  border: 2px solid black;
  background-color: black;
  border-width: 3px;
  padding: 10px;
  float: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

#outfits {
  padding: 10px;
  float: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

#about, #desc, #fitDesc {
  border: solid ;
  border-width    :1px;
  padding: 10px;
  float: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #8e82e8;
  background-color: black;
}




